<h1>All Reviews:</h1>

<ol>
@foreach (Review review in Model)
{
    <ul>
      <li>@review.Destination, @review.City</li>
    </ul>
    <a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
    <br>
}
</ol>

<a href="/Reviews/Create"><p>Create New Review</p></a>